body {
    background-color: black;
}

header img{
    width: 100%;
    position: relative;
}

.logo{
    width: 40%;
    position: absolute;
    top:30%; 
    right: 32%; 
}

header h1{
    font-family: Orbitron;
    font-size: 35px; 
    color: white;
    position: absolute;
    top:40%; 
    right:33%; 
}


p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: white;
}

header p{
    
    font-size: 24px;
    color: white;
    position: absolute;
    text-align: left;
    top:48%; 
    right: 35%; 
    padding-left: 28%;
}

nav{
    color: white;
    font-family: Orbitron;
    font-size: 30px; 
    top: 5%;
    right: 0%;
    left: 5%;
    color: white;
    text-align: left;
    width: 100%;
    position: absolute;
    word-spacing: normal;
}

ul{
        list-style-type: none;
     }

a{
    color: white;
    text-decoration: none;
    margin: 100px;
}

a:hover{
    background:green; 
}


#afleveringen h2{
    color: white;
    font-family: Orbitron;
    font-size: 50px; 
    font-weight: 500;
    padding-left: 12%;
    padding-right: 0;
    }


#afleveringen{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#afleveringen img{
    width: 20%;
    padding: 15px;
    margin: 10px;
    border: 3px solid green;
    border-radius: 30px;
}

#afleveringen img:hover{
    width: 20%;
    border: 7px solid green;
    border-radius: 30px;
}

#afleveringen a{
    width: auto;
    margin: auto;
    border:0px;
    }

#afleveringen a:hover{
        background-color: black;
}

main a{
    color: white;
    font-family: Orbitron;
    font-size: 25px; 
    font-weight: 600;
    margin-left: 43%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 20%;
    padding-left: 20px;
    padding-right: 20px;
    border: green solid 2px;
}

main img{
    width: 40%;
    border: 3px solid green;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
}


main p{
    
    font-size: 30px; 
    position: absolute;
    top: 170%; 
    right: 10%;
    padding-left: 55%;
}


.computer{
    width: 40%;
    margin: 10%;
    padding-left: 20%;
    position: relative;
}

#info {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    position: absolute;
    top: 270%;
    margin-left: 35%;
    right: 35%;
}


h3{
    color: white;
    font-family: Orbitron;
    font-size: 40px; 
    padding-left: 10%;
    margin-top: 10%;
    margin-left: 40%;
}

#team h3 {
    color: white;
    font-family: Orbitron;
    font-size: 40px; 
    position: absolute;
    top: 80%;
}

.jay {
    width: 90%;
    float: left; 
    display: inline;
    top: 100%;
    position: absolute;
}

.jay p{
    width: 40%;
    float: right; 
    top: 40%;
    left: 5%;
}


.sam{
    width: 90%;
    top: 180%;
    position: absolute;
}

.sam p{
    width: 40%;
    float: right; 
    top: 40%;
    left: 5%;
}


.dasha{
    width: 90%;
    top: 260%;
    position: absolute;
}

.dasha p{
    width: 40%;
    float: right; 
    top: 40%;
    left: 5%;
}

.video{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 70%;
    height: 100%;
}

.video iframe{
 
    width: 70%;
    height: 50%;
}

.little-logo{
    width: 15%;
    margin-left: 80%;
    margin-top: 60px;
}

.logo2 { 
    width: 10%;
    position: absolute;
    top: 300%;
    right: 10%;
    padding: 10px;
    margin-bottom: 70px;
    
}

footer{
    position: absolute;
    top: 370%;
    left: 10%;
    margin-right: 40%;
    padding-top: 10%;
}

#gallery{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

#gallery p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    position: relative;

}

.whatever{
    background-color: green;
    width: 20%;
    padding-right: 15px;
    padding-left: 10px;
    margin: 15px;
    border: 3px solid green;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.whatever img{
    border-radius: 30px;
    width: 85%;
    margin-top: 10%;
}

.whateverdescription p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}


.whateverdescription {
   
    display: flex;
    align-items: flex-end;
    background-color: green;
    width: 80%;
    padding-right: 15px;
    padding-left: 10px;
    margin: 15px;
    text-align: left;
   
}

h4{
    color: white;
    font-family: Orbitron;
    font-size: 20px; 
    font-weight: 400;
    text-align: center;

}

#footerepisodes{
    position: absolute;
    top: 200%;
    left: 10%;
   
}
